<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%=link_to 'Home', root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!--li><%=link_to 'Help', help_path %></li>
        <li><%=link_to 'About', about_path %></li-->
        <% unless logged_in2? %>
          <li><%=link_to 'Signup', signup_path %></li>
          <li><%=link_to 'Log in', login_path %></li>
        <% else %>
          <li><%=link_to 'Twilio API Test', root_path %></li>
          <li><%=link_to 'Log out', logout_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<h3 class="text-center"><a target="_blank" href="https://www.screencast.com/t/EsaeqlI4e">How does it works (Signup / Signin)</a></h3>
<h3 class="text-center"><a target="_blank" href="javascript: alert('Uploading now...');">How does it works (Send SMS)</a></h3>
